.party{
    text-align:center;
    font-size:30a;
}
.p1{
    height: 30%;
    width: 15%;
    padding-bottom: 5%;
    padding-right: 75%;
}
.p2{
    height: 30%;
    width: 15%;
    padding-bottom: 5%;
    padding-right: 75%;
}
.p3{
    height: 30%;
    width: 15%;
    padding-bottom: 5%;
    padding-right: 75%;
}
.p4{
    height: 30%;
    width: 15%;
    padding-bottom: 5%;
    padding-right: 75%;
}
.p5{
    height: 30%;
    width: 15%;
    padding-bottom: 5%;
    padding-right: 75%;
}